
@using LemonDrop.Website.Mvc.Models

@model IEnumerable<Book>

@{
    ViewBag.Title = "BookStore Home";
}

<h2>Best offers</h2>

<div class="form-group">
    @using (Html.BeginForm("Search", "BookStore", FormMethod.Get, new { Id = "searchForm", @class = "navbar-form navbar-right" }))
    {

        @Html.Label("searchTerm", "Search", new { @class = "sr-only" })
        @Html.TextBox("searchTerm", "", new { @class = "form-control", placeholder = "Enter your search...", type = "search" })
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            <span class="sr-only">Search</span>
        </button>

    }
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <caption>
            @Html.ActionLink("View all offers", "Search", "BookStore", new { }, new { @class = "btn btn-default" })
        </caption>
        <thead>
            <tr>
                <th><em>Title</em></th>
                <th><em>Author</em></th>
                <th><em>Price</em></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td class="title"><h4>@Html.ActionLink(book.Title, "Details", "BookStore", new { id = book.Id }, new { })</h4></td>
                    <td class="author">@book.Author</td>
                    <td class="price">@book.Price.ToString("0.00")</td>
                    <td>@Html.ActionLink("Add to cart", "Add", "ShoppingCart", new { bookId = book.Id }, new { @class = "btn btn-primary" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
